<article class="flex-1 p-6" style="min-height: 80vh" id="page">
  <div class="mb-6 border-black border px-14 py-2 w-auto h-36 relative">
    <span class="border-black border px-2 py-2 bottom-3 left-3 absolute">
      <a class="text-xl font-bold mb-4" href="../pages/post-class-step1.html"
        >建立課程</a
      >
    </span>
    <img
      src="../imgs/searchPic1.png"
      alt=""
      class="w-40 right-3 absolute hidden sm:block"
    />
  </div>

  <div class="mb-6">
    <h1 class="text-2xl font-bold mb-4">如何開始？</h1>
    <div class="grid grid-cols-3 gap-3 grid-rows-2 whitespace-normal">
      <div class="border border-black p-4 flex col-span-2">
        <img
          src="../imgs/searchPic2.png"
          alt=""
          class="h-20 my-auto hidden sm:block"
        />
        <p class="my-auto font-black text-lg">創建引人入勝的課程</p>
      </div>
      <div
        class="border border-black p-4 row-span-2 flex items-center justify-center"
        style="text-align: center"
      >
        <div>
          <img
            src="../imgs/searchPic3.png"
            alt=""
            class="h-24 m-auto hidden sm:block"
          />
          <p class="font-black text-lg">建立您的受眾</p>
        </div>
      </div>
      <div class="border border-black p-4 flex col-span-2">
        <img
          src="../imgs/searchPic5.png"
          alt=""
          class="h-20 my-auto hidden sm:block"
        />
        <p class="my-auto font-black text-lg">開始學習影片</p>
      </div>
    </div>
  </div>

  <div>
    <h1 class="text-2xl font-bold mb-4">我的課程</h1>
    <div class="border border-black p-4">
      <div class="items-center" id="courselist"></div>
    </div>
  </div>
</article>
<script>
  function toggleEdit(a) {
    //鎖定&解除輸入框
    const btnToggleEdit = document.getElementById(a);
    if (btnToggleEdit.readOnly) {
      btnToggleEdit.readOnly = false;
      btnToggleEdit.style.backgroundColor = "#ffffff";
    } else {
      btnToggleEdit.readOnly = true;
      btnToggleEdit.style.backgroundColor = "rgb(212,212,212)";
    }
    btnToggleEdit.addEventListener("keydown", function (event) {
      if (event.key === "Enter" && a != "coursesummary" && a != "courseIntro") {
        event.preventDefault();
        toggleEdit(a);
      }
    });
  }

  fetch("http://10.0.104.199:8080/teacher/teachercourse", {
    method: "GET",
    credentials: "include",
  })
    .then((response) => response.json())
    .then((data) => {
      if (data.length == 0) {
        document.getElementById("courselist").innerHTML = "暫無課程";
      } else {
        for (let i = 0; i < data.length; i++) {
          document.getElementById(
            "courselist"
          ).innerHTML += `<div class="flex m-2 border border-black">
                      <img class="h-16 m-2" src=data:image/png;base64,${data[i].courseImgbase64}></img>
                      <p class="my-auto text-lg font-black">${data[i].courseName}</p>
                      <button id="${data[i].courseid}" name="editbtn" class="my-auto ml-auto p-5">編輯</button>
                  </div>`;
        }
      }
    });
  $("#courselist").on("click", 'button[name="editbtn"]', function () {
    fetch("http://10.0.104.199:8080/teacher/teachercourse", {
      method: "GET",
      credentials: "include",
    })
      .then((response) => response.json())
      .then((data) => {
        for (let i = 0; i < data.length; i++) {
          if ($(this).attr("id") == data[i].courseid) {
            document.getElementById("page").innerHTML = `
            <button name="back" class="my-3"><i class="bi bi-chevron-double-left "></i>上一頁</button>
            					<div class="col-span-3 grid grid-cols-3 gap-y-6">
						<!-- flex -->
						<div class="col-span-3 grid grid-cols-3 sm:col-span-3 md:col-span-1">
							<label class="col-span-3 block text-3xl  text-gray-900">課程封面</label>
							<!-- 上傳封面框 -->
							<div
								class="col-span-3   rounded-lg border border-dashed border-gray-900/25  bg-white ">

								<div class=" text-center" id="oringImage">
									<label for="courseImage" class=" cursor-pointer rounded-md bg-white font-semibold text-black text-2xl">上傳課程封面照
										<input id="courseImage" name="courseImage" type="file" accept=".jpg, .jpeg, .png" class="sr-only">
									</label>
								</div>

							</div>
							<div class="mt-2 col-span-3">
								<p class="text-xl mt-1 sm:text-xl md:text-2xl">建議照片比例為 336 : 250，</p>

								<p class="text-xl mt-1 sm:text-xl md:text-2xl">檔案格式僅支援 jpg, png</p>
							</div>

						</div>
						<!-- 間格的虛線 -->
						<div class="hidden border-l border-l-dashed border-gray-900/25  border-black h-[250px] mx-[50%]  md:col-span-1 sm:col-span-3 sm:hidden lg:block"
							></div>
						<!-- 草稿框 -->
						<div
							class=" w-[223.25px] h-[124px] ml-4 mt-10 overflow-hidden   rounded-lg border border-dashed border-gray-900/25  bg-white/50 sm:col-span-3  md:col-span-1 ">
							<img id="displayZone" class="w-full h-full object-cover" src="data:image/png;base64,${data[i].courseImgbase64}">
							
						</div>
					</div>
            <div class="mb-4">
              <label
                class="block text-gray-700 text-sm font-bold mb-2"
                for="username"
              >
                課程名稱
              </label>
              <input
                class="appearance-none border rounded w-11/12 py-2 px-3 text-gray-700 bg-neutral-300 h-9 focus:outline-none"
                id="coursename" value="${data[i].courseName}"
                type="text"
                readonly
              /><button
                type="button"
                class="bg-blue-300 hover:bg-blue-500 active:bg-blue-700 text-white font-bold h-9 w-1/12 rounded"
                onclick="toggleEdit('coursename')"
              >
                <a class="bi bi-pencil"></a>
              </button>
            </div>
            <div class="mb-4">
              <label
                class="block text-gray-700 text-sm font-bold mb-2"
                for="price"
              >
                價格
              </label>
              <input
                class="appearance-none border rounded w-11/12 py-2 px-3 text-gray-700 bg-neutral-300 h-9 focus:outline-none"
                id="price" value="${data[i].price}"
                type="number"
                readonly
              /><button
                type="button"
                class="bg-blue-300 hover:bg-blue-500 active:bg-blue-700 text-white font-bold h-9 w-1/12 rounded"
                onclick="toggleEdit('price')"
              >
                <a class="bi bi-pencil"></a>
              </button>
            </div>
            <div class="mb-4">
              <label
                class="block text-gray-700 text-sm font-bold mb-2"
                for="coursetype"
              >
                課程類型
              </label>
              <input
                class="appearance-none border rounded w-11/12 py-2 px-3 text-gray-700 bg-neutral-300 h-9 focus:outline-none"
                id="coursetype" value="${data[i].courseType}"
                type="text"
                readonly
              /><button
                type="button"
                class="bg-blue-300 hover:bg-blue-500 active:bg-blue-700 text-white font-bold h-9 w-1/12 rounded"
                onclick="toggleEdit('coursetype')"
              >
                <a class="bi bi-pencil"></a>
              </button>
            </div>
            <div class="mb-4">
              <label
                class="block text-gray-700 text-sm font-bold mb-2"
                for="coursesummary"
              >
                課程概要
              </label>
              <textarea
                  class="appearance-none border rounded py-2 px-3 text-gray-700 bg-neutral-300 w-full focus:outline-none"
                  id="coursesummary" 
                  rows="3"
                  readonly
                >${data[i].courseSummary}</textarea>
              <button
                type="button"
                class="bg-blue-300 hover:bg-blue-500 active:bg-blue-700 text-white font-bold h-9 w-1/12 rounded"
                onclick="toggleEdit('coursesummary')"
              >
                <a class="bi bi-pencil"></a>
              </button>
            </div>
            <div class="mb-6">
              <label
                class="block text-gray-700 text-sm font-bold mb-2"
                for="courseIntro"
              >
                課程介紹
              </label>
              <div class="flex position: relative">
                <textarea
                  class="appearance-none border rounded py-2 px-3 text-gray-700 bg-neutral-300 w-full focus:outline-none"
                  id="courseIntro" 
                  rows="3"
                  readonly
                >${data[i].courseIntro}</textarea>
                <button
                  type="button"
                  class="bg-blue-300 hover:bg-blue-500 active:bg-blue-700 text-white font-bold h-6 w-1/12 rounded position: absolute bottom-0 right-0"
                  onclick="toggleEdit('courseIntro')"
                >
                  <a class="bi bi-pencil bottom-0"></a>
                </button>
              </div>
            </div>

            <div class="flex items-center justify-center mb-4">
              <p id="error" class="text-red-600"></p>
              <p id="success"></p>
            </div>

            <div class="flex items-center justify-center">
              <button
                id="save" name="save"
                class="bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded w-full focus:outline-none focus:shadow-outline"
                
              >
                儲存
              </button>
            </div>
          `;
            $("#page").on("click", 'button[name="save"]', function () {
              const updatedata = {
                courseId: data[i].courseid,
                courseName: $("#coursename").val(),
                price: $("#price").val(),
                courseType: $("#coursetype").val(),
                courseSummary: $("#coursesummary").val(),
                courseIntro: $("#courseIntro").val(),
                courseImg: $("#displayZone").attr("src").split(",")[1],
              };
              console.log(updatedata);

              fetch("http://10.0.104.199:8080/teacher/editcourse", {
                method: "PUT",
                headers: {
                  "Content-Type": "application/json",
                },
                body: JSON.stringify(updatedata),
                credentials: "include",
              })
                .then((response) => response.text())
                .then((result) => {
                  $("#success").text("修改成功，兩秒後倒回課程頁面");
                  setTimeout(() => {
                    window.location.href = "../pages/teacher-mainJQ.html";
                  }, 2000);
                });
            });
          }
        }
      });
  });

  $("#page").on("change", 'input[name="courseImage"]', function () {
    const file = this.files[0]; // 修正錯誤
    if (file) {
      const reader = new FileReader();
      reader.onload = function (e) {
        // 更新圖片預覽區域
        $("#displayZone").attr("src", e.target.result);
        $("#previewText").addClass("hidden");
      };
      reader.readAsDataURL(file);
    }
  });

  $("#page").on("click", 'button[name="back"]', function () {
    fetch("../components/course.html")
      .then((response) => response.text())
      .then((result) => {
        $("#article").html(result);
      });
  });
</script>
