<div class="static h-[74px]"></div>
<header
  class="fixed w-full top-0 flex flex-row justify-between border-b z-[3] bg-white border-gray-400 font-bold text-[#474849] h-[74px]"
>
  <div class="flex justify-start items-center">
    <a href="/index.html">
      <img
        class="w-48 p-4 ml-8"
        src="../imgs/logo.png"
        title="回首頁"
        alt="LOGO"
      />
    </a>
    <div class="relative group py-2 mx-4 z-[2]">
      <span class="text-lg mr-2 p-1 cursor-pointer hidden lg:flex items-center"
        >探索課程
        <svg
          class="size-5 shrink-0 transition duration-300 group-open:-rotate-180"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M19 9l-7 7-7-7"
          /></svg
      ></span>
      <div
        class="absolute left-0 mt-2 w-48 bg-white border border-gray-200 shadow-lg opacity-0 scale-95 group-hover:opacity-100 group-hover:scale-100 transform transition duration-200 pointer-events-none group-hover:pointer-events-auto"
      >
        <ul class="py-2">
          <li>
            <a
              href="../pages/search.html?query="
              class="block px-4 py-2 hover:bg-gray-100 text-lg tracking-wider"
              >所有分類</a
            >
          </li>
          <li>
            <a
              href="../pages/search.html?query=語言學習"
              class="block px-4 py-2 hover:bg-gray-100 text-lg tracking-wider"
              >語言學習</a
            >
          </li>
          <li>
            <a
              href="../pages/search.html?query=程式設計"
              class="block px-4 py-2 hover:bg-gray-100 text-lg tracking-wider"
              >程式設計</a
            >
          </li>
          <li>
            <a
              href="../pages/search.html?query=美食料理"
              class="block px-4 py-2 hover:bg-gray-100 text-lg tracking-wider"
              >美食料理</a
            >
          </li>
          <li class="border-gray-200">
            <a
              href="../pages/search.html?query=藝術創作"
              class="block px-4 py-2 hover:bg-gray-100 text-lg tracking-wider"
              >藝術創作
            </a>
          </li>
          <li>
            <a
              href="../pages/search.html?query=運動健身"
              class="block px-4 py-2 hover:bg-gray-100 text-lg tracking-wider"
              >運動健身</a
            >
          </li>
          <li class="border-gray-200">
            <a
              href="../pages/search.html?query=理財投資"
              class="block px-4 py-2 hover:bg-gray-100 text-lg tracking-wider"
              >理財投資</a
            >
          </li>
        </ul>
      </div>
    </div>
    <form
      class="absolute bg-white p-4 w-full top-[74px] hidden md:w-auto md:static md:p-0 md:flex justify-center shadow-lg md:shadow-none border-b-2 md:border-0"
      id="navbarFormSearch"
    >
      <i
        class="bi bi-search border-gray-400 border-y border-l text-xl px-4 py-2 rounded-l-3xl text-gray-400"
      ></i>
      <input
        id="navbarInputSearch"
        placeholder="JAVA線上課程優惠中"
        autocomplete="off"
        class="border-gray-400 border-y border-r text-lg rounded-r-3xl focus:outline-none pr-4 w-64 font-normal"
        type="search"
      />
      <button id="navbarBtnSearch" onclick="search()"></button>
    </form>
  </div>

  <div class="flex-row items-center hidden" id="navbarDivLogin">
    <div class="hidden xl:flex">
      <a
        href="../pages/teacher-mainJQ.html"
        class="mr-6 text-lg hidden lg:flex hover:text-cyan-600 duration-200"
        >我是老師</a
      >
    </div>
    <div class="hidden xl:flex">
      <a
        href="../pages/my-courses.html"
        class="mr-8 text-lg hover:text-cyan-600 duration-200"
        >我的學習</a
      >
    </div>
    <div class="flex md:hidden">
      <i
        class="bi bi-search text-xl px-4 py-2 cursor-pointer hover:text-cyan-600 duration-200"
        id="btnNavSearch"
      ></i>
    </div>
    <div class="hidden lg:flex">
      <a href="../pages/wish-list.html">
        <i
          class="bi bi-heart text-2xl mr-6 hover:text-cyan-600 duration-200"
          title="願望清單"
        ></i>
      </a>
    </div>

    <div class="hidden lg:flex relative" id="cart">
      <a href="../pages/cart.html">
        <i
          class="bi bi-cart text-2xl mr-6 hover:text-cyan-600 duration-200"
          title="購物車"
        ></i>
      </a>
    </div>

    <div class="hidden lg:flex relative" id="notify">
      <i
        id="iconNotify"
        class="bi bi-bell text-2xl mr-6 hover:text-cyan-600 duration-200 cursor-pointer"
        title="通知"
      ></i>

      <div
        id="divNotify"
        class="hidden absolute overflow-y-auto overflow-x-hidden right-0 top-12 w-96 max-h-96 bg-white border border-gray-200 shadow-lg opacity-0 scale-95 transform transition duration-200"
      >
        <ul class="py-2" id="notifyUl"></ul>
      </div>
    </div>

    <div class="relative group py-2 z-20 hidden sm:block">
      <a href="../pages/member-center.html" title="會員中心">
        <img
          src="../imgs/avatar.png"
          class="mr-6 h-12 w-12 rounded-full border border-gray-300 object-cover navbarAvatar"
        />
      </a>
      <div
        class="absolute right-2 w-80 bg-white border border-gray-200 shadow-lg opacity-0 scale-95 group-hover:opacity-100 group-hover:scale-100 transform transition duration-200 pointer-events-none group-hover:pointer-events-auto"
      >
        <div class="inline-flex w-full p-2 border border-gray-200 items-center">
          <img
            src="../imgs/avatar.png"
            class="m-4 w-20 h-20 rounded-full border border-gray-300 object-cover navbarAvatar"
          />
          <div class="p-2 overflow-auto">
            <p class="text-lg navbarUserName"></p>
            <p class="text-sm navbarEmail"></p>
          </div>
        </div>
        <ul class="py-2">
          <li>
            <a
              href="../pages/my-courses.html"
              class="block px-4 py-2 hover:bg-gray-100 text-lg tracking-wider"
              ><i class="bi bi-book mx-2"></i>我的學習</a
            >
          </li>
          <li>
            <a
              href="../pages/cart.html"
              class="block px-4 py-2 hover:bg-gray-100 text-lg tracking-wider"
              ><i class="bi bi-cart mx-2"></i>購物車</a
            >
          </li>
          <li>
            <a
              href="../pages/wish-list.html"
              class="block px-4 py-2 hover:bg-gray-100 text-lg tracking-wider"
            >
              <i class="bi bi-heart mx-2"></i>願望清單</a
            >
          </li>
          <li>
            <a
              href="../pages/teacher-mainJQ.html"
              class="block px-4 py-2 hover:bg-gray-100 text-lg tracking-wider"
              ><i class="bi bi-person-workspace mx-2"></i>我是老師</a
            >
          </li>
          <li class="border-t border-gray-200">
            <a
              href="../pages/notify.html"
              class="block px-4 py-2 hover:bg-gray-100 text-lg tracking-wider"
            >
              <i class="bi bi-bell mx-2"></i>通知</a
            >
          </li>
          <li>
            <a
              href="../pages/order-history.html"
              class="block px-4 py-2 hover:bg-gray-100 text-lg tracking-wider"
              ><i class="bi bi-receipt mx-2"></i>訂單明細</a
            >
          </li>
          <li class="border-t border-gray-200">
            <a
              href="../pages/profile.html"
              class="block px-4 py-2 hover:bg-gray-100 text-lg tracking-wider"
              ><i class="bi bi-person-fill mx-2"></i>帳戶設定</a
            >
          </li>
          <li>
            <button
              onclick="logout()"
              class="w-full text-left px-4 py-2 hover:bg-gray-100 text-lg tracking-wider"
            >
              <i class="bi bi-box-arrow-left mx-2"></i>登出
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div id="btnMenu">
      <i class="bi bi-list text-3xl mr-6 sm:hidden cursor-pointer"></i>
    </div>
  </div>
  <div class="mr-4 items-center hidden" id="navbarDivLogout">
    <div>
      <button
        onclick="navLogin()"
        class="py-2 px-4 shadow-sm border-2 rounded-md text-lg mx-2 hover:bg-blue-400 duration-300"
      >
        登入
      </button>
    </div>
    <div>
      <button
        onclick="navRegister()"
        class="py-2 px-4 sm:block hidden shadow-sm border-2 rounded-md text-lg mx-2 hover:bg-blue-400 duration-300"
      >
        註冊
      </button>
    </div>
  </div>
  <div
    id="menu"
    class="fixed z-50 top-0 -left-80 bg-white h-dvh w-80 shadow-lg sm:hidden cursor-pointer"
  >
    <div
      class="inline-flex w-full p-2 border border-gray-200 items-center relative"
    >
      <img
        src="../imgs/avatar.png"
        class="mx-2 my-4 w-20 h-20 rounded-full border border-gray-300 object-cover navbarAvatar"
      />
      <div class="p-2 overflow-auto">
        <p class="text-lg navbarUserName"></p>
        <p class="text-sm navbarEmail"></p>
      </div>
    </div>
    <ul class="py-2">
      <li>
        <a
          href="../pages/member-center.html"
          class="block px-4 py-2 hover:bg-gray-100 text-lg tracking-wider"
        >
          <i class="bi bi-person-vcard mx-2"></i>會員中心</a
        >
      </li>
      <li>
        <a
          href="../pages/my-courses.html"
          class="block px-4 py-2 hover:bg-gray-100 text-lg tracking-wider"
          ><i class="bi bi-book mx-2"></i>我的學習</a
        >
      </li>
      <li>
        <a
          href="../pages/cart.html"
          class="block px-4 py-2 hover:bg-gray-100 text-lg tracking-wider"
          ><i class="bi bi-cart mx-2"></i>購物車</a
        >
      </li>
      <li>
        <a
          href="../pages/wish-list.html"
          class="block px-4 py-2 hover:bg-gray-100 text-lg tracking-wider"
        >
          <i class="bi bi-heart mx-2"></i>願望清單</a
        >
      </li>
      <li>
        <a
          href="../pages/teacher-mainJQ.html"
          class="block px-4 py-2 hover:bg-gray-100 text-lg tracking-wider"
          ><i class="bi bi-person-workspace mx-2"></i>我是老師</a
        >
      </li>
      <li class="border-t border-gray-200">
        <a
          href="../pages/notify.html"
          class="block px-4 py-2 hover:bg-gray-100 text-lg tracking-wider"
        >
          <i class="bi bi-bell mx-2"></i>通知</a
        >
      </li>
      <li>
        <a
          href="../pages/order-history.html"
          class="block px-4 py-2 hover:bg-gray-100 text-lg tracking-wider"
          ><i class="bi bi-receipt mx-2"></i>訂單明細</a
        >
      </li>
      <li class="border-t border-gray-200">
        <a
          href="../pages/profile.html"
          class="block px-4 py-2 hover:bg-gray-100 text-lg tracking-wider"
          ><i class="bi bi-person-fill mx-2"></i>帳戶設定</a
        >
      </li>
      <li>
        <button
          onclick="logout()"
          class="w-full text-left px-4 py-2 hover:bg-gray-100 text-lg tracking-wider"
        >
          <i class="bi bi-box-arrow-left mx-2"></i>登出
        </button>
      </li>
    </ul>
    <i id="closeMenu" class="bi bi-x-lg text-2xl absolute right-3 top-2"></i>
  </div>
</header>

<script src="../js/navbar.js"></script>
