<article class="flex-1 p-6" style="min-height: 80vh">
  <div id="all">
    <div>
      <div class="flex">
        <label
          class="block text-black text-2xl font-bold mb-2"
          for="choosecurse"
        >
          選擇課程
        </label>
        <select
          class="border rounded ml-3 py-2 px-3 text-black leading-tight focus:outline-none focus:shadow-outline"
          id="coursename"
        ></select>
      </div>
      <h1 class="text-2xl font-bold mb-4">發布公告</h1>
      <div class="border border-black p-4 mb-8">
        <div class="mb-4">
          <label for="title" class="block font-medium mb-1">公告標題</label>
          <input
            type="text"
            id="title"
            class="border border-gray-400 rounded-lg w-full px-3 py-2"
          />
        </div>
        <div>
          <label for="content" class="block font-medium mb-1">公告內容</label>
          <textarea
            id="content"
            class="border border-gray-400 rounded-lg w-full px-3 py-2 h-32"
          ></textarea>
        </div>
        <div>
          <p id="error"></p>
        </div>
        <div class="mt-4 text-right">
          <button
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            id="send"
          >
            發布
          </button>
        </div>
      </div>
    </div>

    <div>
      <h2 class="text-2xl font-bold mb-4">已發布公告</h2>
      <div class="border border-black p-4 overflow-x-auto" id="getpost"></div>
    </div>
  </div>
</article>
<script>
  fetch("http://10.0.104.199:8080/teacher/teachercourse", {
    method: "GET",
    credentials: "include",
  })
    .then((response) => response.json())
    .then((data) => {
      if (data.length == 0) {
        document.getElementById("all").innerHTML = "沒有課程不能發佈公告";
      }
      for (let i = 0; i < data.length; i++) {
        document.getElementById(
          "coursename"
        ).innerHTML += `<option value="${data[i].courseid}" id="${data[i].courseid}">${data[i].courseName}</option>`;
      }
      fetch(
        `http://10.0.104.199:8080/teacher/teachergetpost/${$(
          "#coursename"
        ).val()}`,
        {
          method: "GET",
          credentials: "include",
        }
      )
        .then((response) => response.json())
        .then((data) => {
          if (data.length == 0) {
            document.getElementById("getpost").innerHTML = "暫無公告";
          } else {
            for (let i = 0; i < data.length; i++) {
              document.getElementById("getpost").innerHTML += `
                  <div class="mb-4 w-full">
                      <p class="text-3xl font-medium">${data[i].postTitle}</p>
                      <p>${data[i].postContent}</p>
                  </div>
                  `;
            }
          }
        });
    });

  send.onclick = function () {
    $("#error").text("");
    if ($("#title").val() == "") {
      $("#error").text("標題為空");
    } else if ($("#content").val() == "") {
      $("#error").text("內容為空");
    } else {
      const data = {
        postTitle: $("#title").val(),
        postContent: $("#content").val(),
        courses: {
          courseId: $("#coursename").val(),
        },
      };
      fetch("http://10.0.104.199:8080/teacher/teachersendpost", {
        method: "post",
        headers: {
          "Content-Type": "application/json", // 設置請求內容類型為 JSON
        },
        body: JSON.stringify(data), // 將表單數據轉換為 JSON 字符串
        credentials: "include",
      })
        .then((response) => response.text())
        .then((result) => {
          if (result == "true") {
            $("#error").text("發布成功");
            document.getElementById("getpost").innerHTML = "";
            $("#title").val("");
            $("#content").val("");
            fetch(
              `http://10.0.104.199:8080/teacher/teachergetpost/${$(
                "#coursename"
              ).val()}`,
              {
                method: "GET",
                credentials: "include",
              }
            )
              .then((response) => response.json())
              .then((data) => {
                if (data.length == 0) {
                  document.getElementById("getpost").innerHTML = "暫無公告";
                } else {
                  for (let i = 0; i < data.length; i++) {
                    document.getElementById("getpost").innerHTML += `
                                          <div class="mb-4">
                                              <p class="text-3xl font-medium">${data[i].postTitle}</p>
                                              <p>${data[i].postContent}</p>
                                          </div>
                                      `;
                  }
                }
              });
            setTimeout(() => {
              $("#error").text("");
            }, 2000);
          } else {
            $("#error").text("發布失敗，請稍後再試一次");
          }
        });
    }
  };

  coursename.onchange = function () {
    document.getElementById("getpost").innerHTML = "";
    fetch(
      `http://10.0.104.199:8080/teacher/teachergetpost/${$(
        "#coursename"
      ).val()}`,
      {
        method: "GET",
        credentials: "include",
      }
    )
      .then((response) => response.json())
      .then((data) => {
        if (data.length == 0) {
          console.log("a");

          document.getElementById("getpost").innerHTML = "暫無公告";
        } else {
          for (let i = 0; i < data.length; i++) {
            document.getElementById("getpost").innerHTML += `
                  <div class="mb-4">
                      <p class="text-3xl font-medium">${data[i].postTitle}</p>
                      <p>${data[i].postContent}</p>
                  </div>
                  `;
          }
        }
      });
  };
</script>
