<div class="flex-1 p-6" style="min-height: 80vh">
  <div class="border border-black p-4 mb-4" id="qalist"></div>
</div>
<script>
  function toggleEdit(a) {
    const btnToggleEdit = document.getElementById(a);
    if (btnToggleEdit.readOnly) {
      btnToggleEdit.readOnly = false;
      btnToggleEdit.style.backgroundColor = "#ffffff";
    } else {
      btnToggleEdit.readOnly = true;
      btnToggleEdit.style.backgroundColor = "rgb(163,163,163)";
    }
    btnToggleEdit.addEventListener("keydown", function (event) {
      if (event.key === "Enter" && !/answer\d+/.test(a)) {
        event.preventDefault();
        toggleEdit(a);
      }
    });
  }

  fetch("http://10.0.104.199:8080/teacher/teacherquestion", {
    method: "GET",
    credentials: "include",
  })
    .then((response) => response.json())
    .then((data) => {
      console.log(data);
      if (data.length == 0) {
        document.getElementById("qalist").innerHTML = "暫無問題";
      }
      for (let i = 0; i < data.length; i++) {
        document.getElementById("qalist").innerHTML += `
          <div class="border m-2 p-2">
            <div class="flex items-center m-2 ">
                <img src=${
                  data[i].userInfo.avatar == null
                    ? "../imgs/12-1.png"
                    : "data:image/png;base64," + data[i].userInfo.avatar
                } alt="" class="w-10 h-10 rounded-full" />
                <h3 class="text-xl font-medium pl-2 ">${data[i].question}</h3>
            </div>
            <div class="flex pr-3 m-2">
                <textarea rows="3" class="resize-none appearance-none border rounded-lg sm:w-96 md:w-full w-auto mr-2 text-black bg-neutral-400 focus:outline-none"
                id="answer${
                  data[i].questionId
                }" type="text" placeholder="" readonly >${
          data[i].answer == null ? "" : data[i].answer
        }</textarea>
                <button type="button" title="編輯回答"
                class="bg-blue-300 hover:bg-blue-500 active:bg-blue-700 text-white font-bold mr-2 h-8 w-8 rounded-lg"
                onclick="toggleEdit('answer${data[i].questionId}')">
                <a class="bi bi-pencil"></a>
                </button>
                <button type="button" title="發布回答" id="${
                  data[i].questionId
                }" name="send"
                class="bg-blue-300 hover:bg-blue-500 active:bg-blue-700 text-white font-bold h-8 w-8 rounded-lg">
                <a class="bi bi-chat-left-text-fill"></a>
                </button>
            </div>
          </div>  
            `;
      }
    });

  $("#qalist").on("click", 'button[name="send"]', function () {
    const data = {
      questionId: $(this).attr("id"),
      answer: $(`#answer${$(this).attr("id")}`).val(),
    };
    fetch("http://10.0.104.199:8080/teacher/teacheranswer", {
      method: "put",
      headers: {
        "Content-Type": "application/json", // 設置請求內容類型為 JSON
      },
      body: JSON.stringify(data), // 將表單數據轉換為 JSON 字符串
      credentials: "include",
    });
  });
</script>
