<aside class="min-h-full border-r-[1px] border-black p-0">
  <div class="w-32 p-4">
    <ul class="space-y-2">
      <li>
        <button
          id="btn1"
          class="block py-3 w-24 border border-black rounded bg-gray-100 hover:bg-gray-300 focus:bg-gray-500 active:bg-gray-700 relative"
        >
          <i class="bi bi-youtube left-2 absolute"></i>
          課程<i
            class="bi bi-caret-right-fill right-2 absolute"
          ></i>
        </button>
      </li>
      <li>
        <button
          id="btn2"
          class="block py-3 w-24 border border-black rounded bg-gray-100 hover:bg-gray-300 focus:bg-gray-500 active:bg-gray-700 relative"
        >
          <i class="bi bi-chat left-2 absolute"></i>
          問答
        </button>
      </li>
      <li>
        <button
          id="btn3"
          class="block py-3 w-24 border border-black rounded bg-gray-100 hover:bg-gray-300 focus:bg-gray-500 active:bg-gray-700 relative"
        >
          <i
            class="bi bi-megaphone-fill left-2 absolute"
          ></i>
          公告
        </button>
      </li>
      <li>
        <button
          id="btn4"
          class="block py-3 w-24 border border-black rounded bg-gray-100 hover:bg-gray-300 focus:bg-gray-500 active:bg-gray-700 relative"
        >
          訊息
        </button>
      </li>
    </ul>
  </div>
</aside>
